<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :zip_code, placeholder:"Enter your Zip-code" %>
  </div>
    <h2 class="Result" id="Result" style="display:none"></h2>
  <div class="field">
    <%= f.text_field :email, placeholder:"Enter your email"%>
  </div>
  <table class ="table" id="hours-table">
    <legend>Select the hours for which you would like to receive notifications</legend>
    <% (0..11).each do |h| %>
    <tr>
      <td class="left">
        <div class="checkbox">
          <%= check_box_tag "hours[#{h}]"%>
          <%= convert_to_12_hour h %>
        </div>
      </td>
      <td class="right">
        <div class="checkbox">
          <%= check_box_tag "hours[#{h + 12}]"%>
          <%= convert_to_12_hour h + 12 %>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
  <div class="actions">
    <button class="btn btn-lg btn-primary" type="submit">Subscribe to this zip code</button>
  </div>
<% end %>
