
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :zip_code, placeholder:"Enter your Zip-code" %>
  </div>
    <h2 class="Result" id="Result" style="display:none"></h2>
  <div class="field">
    <%= f.text_field :email, placeholder:"Enter your email"%>
  </div>
  <div class="actions">
    <button class="btn btn-lg btn-primary" type="submit">Subscribe to this zip code</button>
  </div>
<% end %>
<p class="lead">
  <a href ='#' onclick="show_about()">Wait, what?</a>
</p>
<span id="About" style="display: none;">
  <p>
    <b>Bring an Umbrella</b> was designed because getting rained on sucks, percentages are confusing,
    and checking weather apps takes like 30 seconds. That's too much for one person in the modern world to deal with.
    We've got places to do, stuff to go.
  </p>
  <p>
    <b>Bring an Umbrella</b> takes the best part about weather apps (telling you if water is going to fall from the
    sky) and makes it all about you. Instead of being subject to the tyranny of reading percentages and guessing,
    we'll just email you if you should bring an umbrella at the beginning of the day. No problem.
  </p>
  <p>
    How does this work? Pessimism and <a href="http://www.weatherunderground.com" target="_blank">WeatherUnderground</a>.
    We're weather dorks and pragmatists, so we'll tell you to bring an umbrella if it's more than likely
    to rain when you'll be outside. We err on the side of umbrellas. Umbrellas are cool.
  </p>
  <p class = "dumb">
    Uhh.
  </p>
  <p class = "dumb">
    That's it.
  </p>
</span>
